* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(57, 61, 53);
    color: #333;
}

header {
    background-color: #262626;
    color: rgb(243, 239, 239);
    text-align: center;
    padding: 20px;
}

.nav-menu {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.nav-menu a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.nav-menu a:hover {
    text-decoration: underline;
}

.content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
}

.block {
    background-color:#ffffff71;
    color:#000000;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(50% - 40px);
    /* Дві колонки */
    text-align: center;
}

.block img {
    width:300px;
    height:300px;
}

footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

/* Адаптивність для планшетів */
@media (max-width: 1024px) {
    .block {
        flex: 1 1 100%;
        /* Одна колонка */
    }
}

/* Адаптивність для мобільних пристроїв */
@media (max-width: 768px) {
    .nav-menu {
        flex-direction: column;
        /* Вертикальне меню */
    }
}